<!DOCTYPE html>
%html{:lang => "es"}

  %head
    = File.read "_include/_layout/_head.html" 
 
  %body
    = File.read "_include/_layout/_header-interior.html"

    = File.read "_include/_page/nav-mobile.html"

    = File.read "_include/_page/nav-desk.html"

    = File.read "_include/_page/diccionario-vtr.html"

    = File.read "_include/_layout/_footer.html"
  